server:
  port: 8081

URL_CATALOGO_SERVICE: http://localhost:8082
URL_CLIENTE_SERVICE: http://localhost:8080

spring:
  application:
    name:
      ms-gerenciamento-sessoes
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cinema_sessoes
    username: root
    password: 121105
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        acknowledge-mode: auto
        default-requeue-rejected: false
        retry:
          enabled: true
          initial-interval: 3000
          max-interval: 10000
          multiplier: 2
          max-retries: 3
