server:
  port: 8081

URL_CATALOGO_SERVICE: http://localhost:8082
URL_CLIENTE_SERVICE: http://localhost:8080

spring:
  application:
    name:
      ms-gerenciamento-sessoes
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST_SESSOES}:${DB_PORT}/${DB_NAME_SESSOES}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USER}
    password: ${RABBITMQ_PASSWORD}
    listener:
      simple:
        acknowledge-mode: auto
        default-requeue-rejected: false
        retry:
          enabled: true
          initial-interval: 3000
          max-interval: 10000
          multiplier: 2
          max-retries: 3
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER}
    password: ${MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  security:
    jwt:
      secret: ${JWT_SECRET}
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    use-root-path: false
  api-docs:
    path: /v3/api-docs
    enabled: true
