server:
  port: 8080

URL_RESERVA_SERVICE: http://localhost:8081

spring:
  application:
    name:
      ms-gerenciamento-clientes
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST_CLIENTES}:${DB_PORT}/${DB_NAME_CLIENTES}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USER}
    password: ${RABBITMQ_PASSWORD}
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER}
    password: ${MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  security:
    jwt:
      secret: ${JWT_SECRET}
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    use-root-path: false
  api-docs:
    path: /v3/api-docs
    enabled: true